[Unit]
Description=domum-core: schedule daily checkup

[Timer]
OnCalendar=*-*-* 07:30:00
RandomizedDelaySec=20m
Persistent=true
Unit=domum-core-checkup.service

[Install]
WantedBy=timers.target
